.pageHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
    z-index: 10;
    position: relative;
    color: #394F8A;
}

.pageHeaderTitle {
    font-size: 42px;
    font-family: "Alfa Slab";
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.pageHeaderSubtitle {
    font-size: 24px;
    font-family: "Open Sans";
}

@media only screen and (min-width: 620px) {
    .pageHeaderContainer {
        margin-top: -50px;
    }
}