.indexContainer {
    background-color: #EAD6CD;
    height: 1000px;
}

.indexDescriptionBox {
    background-color: white;
    width: 85%;
    height: 300px;
    margin: auto;
    text-align: center;
    margin-top: -50px;
    z-index: 10;
    position: relative;
}